fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
httpx==0.27.0
groq==0.9.0
google-generativeai==0.7.2
boto3==1.34.144
supabase==2.5.3
yt-dlp==2024.7.16
openpyxl==3.1.5
moviepy==1.0.3
python-dotenv==1.0.1
aiofiles==23.2.1
celery==5.4.0
redis==5.0.7
Pillow==10.4.0
